

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix { display: inline-block; }
  html[xmlns] .clearfix { display: block; }
  * html .clearfix { height: 1%; }



div#site-wrapper { 
	margin:0 auto;
	width:100%;
}

header#site-header {
	margin: 0 auto;
	width: 750px;
}

#site-wrapper {
	position: relative;
	height: 125px;
	width: 750px;
}

#site-header {
	position: relative;
	width: 750px;
}

#logo {
	width: 306px;
	height: 123px;
	background: url(images/logo.png) no-repeat;
	text-indent: -9999px;
}

#top-nav {
	position: absolute;
	right: 0;
	top: 15px;
}

#top-nav a {
	padding: 20px;
}

div#menu-wrapper {
	margin: 0 auto;
	width: 100%;
}

nav#main-menu { 
	margin: 0 auto;
	width: 750px;
}

#menu-wrapper {
	position: relative;
	height: 35px;
}

#main-menu {
	position: relative;
    top: 10px;
}

#main-menu li a {
	padding: 0 65px 0 0;
	float: left;
}

h2 {	
padding: 25px 0 0 0;
}

p {
	padding: 10px 0 0 0;
	width: 450px;
}

div#content-wrapper {
	margin: 0 auto;
	width: 100%;
}

div#content {
	margin: 0 auto;
	width: 750px;	
}

#content {
	position: relative;
	top: 40px;
	padding: 0 0 50px 0;
	width: 750px;
}

#page {
	width: 550px;
}

#sidebar {
	position: absolute;
	top: 65px;
	right: 0;
	width: 200px;
	padding: 0 0 0 25px;
}

#sidebar ul {
	padding-bottom: 15px;
}

#sidebar img {
	position: relative;
	padding-top: 10px; 
}

#sidebar ul {
	padding: 10px 0 10px 0;
}

div#footer-wrapper {
	margin: 0 auto;
	width: 100%;
}

footer#site-footer {
	margin: 0 auto;
	width: 750px;
}

footer#site-footer h1 {
	padding: 0 0 5px 0;
	padding-top: 15px;
}

#footer-wrapper {
	position: relative;
	top: 75px;
	width: 750px;
	height: 150px;
}

#site-footer {
	position: relative;
	top: 20px;
	width: 750px;
}

section#footer-contact p {
	width: 250px;
}

section#footer-follow {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;	
}

#left-icon, #right-icon, #center-icon {
	float: left;
	padding: 10px 10px 0 0;
}
	

#site-wrapper {
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVmYjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 1%, #eaefb5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#eaefb5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 1%,#eaefb5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 1%,#eaefb5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 1%,#eaefb5 100%); /* IE10+ */
background: linear-gradient(top,  #ffffff 1%,#eaefb5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaefb5',GradientType=0 ); /* IE6-8 */
}

#menu-wrapper {
	background-color: #744918;
}

#top-nav a {
	font-family: Arial;
	font-weight: bold;
	font-size: 1em;
	text-decoration: none;
	color: #744918;
}

#main-menu li a {
	font-family: Arial;
	font-weight: bold;
	font-size: 1em;
	text-decoration: none;
	color: white;
}

#main-menu a:hover {
	color: #A5C748;
}

/*
li a#last-link {
	color: #A5C748;
}
*/

h1 {
	color: #744918;
	font-size: 3.75em;
	font-family: 'Lobster', cursive;
}

h2 {
	color: #744918;
	font-size: 1.15em;
	font-weight: bold;
	font-family: 'Arial';
}

p {
	color: gray;
	font-family: 'Arial';
	font-size: 1em;
	line-height: 1.5em;
}

#sidebar ul a {
	color: gray;
	font-size: 1em;
	font-weight: bold;
	font-family: 'Arial';
	line-height: 25px;
	text-decoration: none;
	padding: 10px 0 25px 0;
}

#sidebar a:hover {
	color: #A5C748;
}

footer#site-footer h1 {
	color: #DBD2BD;
	font-size: 1em;
	font-weight: bold;
	font-family: 'Arial';
}

footer#site-footer p {
	color: white;
	font-size: .75em;
	font-family: 'Arial';
	line-height: 1.25em;
}

footer#site-footer a {
	color: white;
	font-size: .75em;
	font-family: 'Arial';
	line-height: 1.25em;
}

footer#site-footer a:hover {
	color: #A5C748;
}

#footer-wrapper {
	background-color: #744918;
}

#footer-wrapper {
	background-color: #744918;
}